#root {
    background-color: burlywood;
    font-family: "Varela Round", sans-serif;
    font-size: 14pt;
    margin: 0;
    padding:0;
    display: grid;
    grid-template-areas: "navigation"
                         "header"
                         "content"
                         "footer";
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


h1, h2, #navigation {
    color: purple;
    font-family: "Staatliches", sans-serif;
}

#navigation {
    font-size: 16pt;;
}

h1 {
    padding: 20px;
    margin:0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#navigation {
    position: sticky;
    top: 0;
    grid-area: navigation;
    background-color: cadetblue;
    font-weight: bold;
}
    #navigation ul, #navigation a {
        padding: 10px;
    }
    
        #navigation > ul {
            display: flex;
            justify-content: space-around;
        }

    /* AESTHETIC */
    #navigation li {
        padding: 10px;
        border-radius: 25px;
        border: 1px solid cadetblue;
        background-color: brown;
        list-style: none;
    }

    #navigation li:hover {
        background-color: antiquewhite;
        border-color: purple;
    }

    #navigation > ul > li {
        position: relative;
        display: inline-block;
    }
    
    #navigation a {
        color: cadetblue;
        text-decoration: none;
    }

#header {
    grid-area: header;
    background-color: antiquewhite;
}

#content {
    grid-area: content;
    display: flex;
}

#footer {
    grid-area: footer;
    background-color: cadetblue;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    max-width: 100%;
}

@media(orientation: landscape){
    #root {
        grid-template-areas: "navigation header" 
                             "navigation content"
                             "navigation footer";
        grid-template-rows: min-content auto min-content;
        grid-template-columns: min-content auto;
    }
    #navigation > ul {
        flex-direction: column;
    }
    #navigation > ul > li {
        display: list-item;
        align-content: flex-end;
    }
}