body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
}


h1, h2 {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: antiquewhite;
    padding: 20px;
    margin:0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.pepper {
   
}

#header {
    padding-top: 100px;
}

#navigation {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
    #navigation ul {
        padding: 10px;
        margin: 0;
    }

    #navigation li {
        padding: 10px;
        border-radius: 25px;
        background-color: brown;
        list-style: none;
    }

    #navigation li:hover {
        background-color: antiquewhite;
    }

    #navigation > ul > li {
        display: inline;
        position: relative;
    }

    #navigation > ul > li > ul {
        position: absolute;
        left: 0;
        display: none;
    }
        #navigation > ul > li:hover > ul {
            display: list-item;
        }


    #navigation a {
        color: cadetblue;
        text-decoration: none;
    }

    